            </main>
        
        <div class="modal fade" id="modalSesion" tabindex="-1" aria-labelledby="modalSesionLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-warning">
                <div class="modal-header bg-warning text-dark">
                <h5 class="modal-title" id="modalSesionLabel">⚠️ Sesión por expirar</h5>
                </div>
                <div class="modal-body">
                Tu sesión está por expirar. ¿Deseás mantenerla activa?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" id="cerrarSesion">No</button>
                <button type="button" class="btn btn-warning" id="mantenerSesion">Sí, mantener activa</button>
                </div>
            </div>
            </div>
        </div>

        <footer>
            <p>&copy; 2025 - Todos los derechos reservados</p>
        </footer>
        <!-- Bootstrap Bundle con Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Tu script personalizado después -->
        <script src="/resources/js/modal.js"></script>
        <script src="/resources/js/sesion.js"></script>


    </body>
</html>