<%- include('partials/header', { title: 'Inicio' }) %>


<div class="table-responsive">
  
</div>

<!-- Chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Tu script personalizado -->
<script src="/resources/js/graficoToners.js"></script>


<%- include('partials/footer') %>
