<%- include('partials/header', { title: 'Inicio' }) %>


<h4 class="mb-3">Consumo de Tóners por Área</h4>

<div class="mb-3">
  <div style="width: 100%; height: 400px;">
    <canvas id="graficoTonersPorArea"></canvas>
  </div>


<select id="filtroRango" class="form-select mt-3" style="width: 200px;">
  <option value="30" selected>Últimos 30 días</option>
  <option value="1M">Mes actual</option>
  <option value="90">Últimos 3 meses</option>
</select>
</div>
<table id="tablaTopAreas" class="table mt-4">
  <thead>
    <tr>
      <th>Área</th>
      <th>Total de tóners</th>
    </tr>
  </thead>
  <tbody>
    <!-- Aquí se insertan las filas dinámicamente -->
  </tbody>
</table>

<!-- Chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Tu script personalizado -->
<script src="/resources/js/graficoToners.js"></script>


<%- include('partials/footer') %>
