body {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.row {
    --bs-gutter-x: 0 !important;
    padding: 10px;
    width: 100%;
}

main {
    margin-left: 260px;
    padding: 80px 20px 20px;
    min-height: 100vh;
    overflow-x: hidden;
}

.sidebar.collapsed~main {
    margin-left: 80px;
}

@media (max-width: 991px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    main {
        margin-left: 0;
    }
}


/* Pie de página responsive */
.footer {
    background: var(--blue-900);
    color: var(--blue-200);
    border-radius: .75rem;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}