:root{
    --background-body-zinc:#f1f4fd;
    /**Colors**/
    --color-text-secondary: #5d68fb;
    --text-secondary-color: #000000;
    --primary-color: #35424a;
    --secondary-color: #3f3f3f;
    --dark-color: #333;
    --background-primary-color: rgb(32, 33, 36);
    --light-color: #f4f4f4;
    --text-primary-color: #f3efef;
    --background-secondary-color: #f4f4f4;
    --border-color: #b1b0b0;
    --progress-bar-color:#dcdcdc;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --button-next-color: rgba(11,78,179);
    --text-size: clamp(0.875rem, 2vw, 1.25rem);
    --dex-text-color: #333;
    }
/* Estilos para el modo claro */
[data-theme='light'] {
    --primary-bg-color: #f0e7db;
    --primary-text-color: #333;
    --secondary-bg-color: #fff;
    --secondary-text-color: #666;

}

/* Estilos para el modo oscuro */
[data-theme='dark'] {
    --primary-bg-color: #282b2f;
    --primary-text-color: #acb3bf;
    --secondary-bg-color: #34363d;
    --secondary-text-color: #fff;
}
[data-theme='dark'] .sidebar {
  background: rgba(40, 43, 47, 0.85);
  backdrop-filter: blur(12px);
}


[data-theme='light'] a{
    color: var(--color-text-secondary);
  }


body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

header{
    background-color: var(--primary-bg-color);
}
.row{
    background-color: var(--background-secondary-color);
    color:var(--dex-text-color);
    
}
.equipos-search-box{
  border-radius: 5px;
}

.nuevo-equipo-form .select2-container .select2-selection--single .select2-selection__rendered{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.selec-header{
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

footer{
    background-color: var(--primary-bg-color);
    color: var(--secondary-text-color);
}
/* boton thema mod*/

.checkbox input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }
  
  .checkbox .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .checkbox .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9a9999;
    border-radius: 8px;
    transition: background 0.2s ease;
  }
  .checkbox .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
  }
  .checkbox .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
  }
  
  .checkbox #theme-checkbox:checked + .toggle:before {
    background: #947ada;
  }
  .checkbox #theme-checkbox:checked + .toggle span {
    background: #4f2edc;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
  }
  .checkbox #theme-checkbox:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
  }
  
.modalCargaInicial,
.modalReabastecimiento,
.modalSalida{
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-padding-y: 0.275rem;
}
/* ===== SIDEBAR ===== */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  transition: width 0.25s ease, transform 0.25s ease;
  overflow-y: auto;
  z-index: 2000;
}

/* Desktop collapsed */
.sidebar.collapsed {
  width: 70px;
}
.sidebar.collapsed .sidebar-text {
  display: none;
}
.sidebar.collapsed .list-group-item {
  text-align: center;
}

.sidebar.collapsed .list-group-item i {
  font-size: 1.4rem;
}
.sidebar.collapsed .sidebar-title {
  display: none;
}
.main-content {
  transition: margin-left 0.25s ease;
  margin-left: 260px;
}

.sidebar.collapsed ~ main {
  margin-left: 80px;
}

.sidebar-toggle {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 1200;
}
main {
  margin-left: 260px;
  padding: 80px 20px 20px;
  min-height: 100vh;
  overflow-x: hidden;
}
/* En desktop siempre visible */
@media (min-width: 992px) {
  .sidebar-toggle {
    display: block;
  }
}
.top-controls {
  position: fixed;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 1200;
}

/* En mobile un poco más chico */
@media (max-width: 576px) {
  .top-controls {
    top: 8px;
    left: 8px;
    gap: 8px;
  }
}
.position-sticky  {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 12px;
}
#modalDetalleToner .modal-body {
  padding: 2px 8px;
  font-size: 13px;
  white-space: nowrap;
}
#modalDetalleToner .modal-footer{
  padding: 8px;
}

#listaCompatibilidad .list-group-item{
  word-break: break-word;
  overflow-wrap: anywhere;
}
#listaCompatibilidad,
#listaCompatibilidad li{
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}

.smallName{
  color: #4f2edc;
}
.btn.btn-sm.btn-outline-secondary.mt-2{
  
  background-color: #4f2edc;
}
@media (max-width: 991px) {
  .sidebar {
    z-index: 2000;
    transform: translateX(-100%);
  }
  .sidebar.open {
    transform: translateX(0);
  }
  main {
    margin-left: 0 !important;
  }

}
.modal {
  z-index: 1100;
}

.modal-backdrop {
  z-index: 1090;
}
.list-group-item {
  transition: all 0.25s ease;
}

.list-group-item:hover {
  transform: scale(1.01);
  background-color: #f8f9fa;
}
.btn-link i {
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn-link:hover i {
  transform: scale(1.15);
  opacity: 0.8;
}
.m-1{
  color: #495057;
}